.person_tile {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 1em;
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
  border-right: 3px solid grey;
  background-color: rgba(231, 231, 231, 0.8);
  cursor: pointer;
}

.profile_img {
  aspect-ratio: 1;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  object-fit: cover;
}

.current {
  background-color: white;
  border-right: none;
}
